

/* =========================================================
 * RESET CSS
 * ========================================================= */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



/* =========================================================
 * Oringial Style
 * ========================================================= */


article h4 a {
    color: #9f9f9f;
    font-weight: bold;
}

article h4 a:hover {
    color: #3B579D;
}

.watch_animation img{
  width: 10%;
  padding: 0px 0px 70px 150px;
}

.passion_descripition{
  float: left;
}

/* back navigation button */
.back_button{
  color: grey;
  float: left;

  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.4px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  color: #7F7F7F;
  background-color: #fff;
  padding: 10px 0px 100px 100px;
  line-height: 14pt;
 }

.navigation a:hover, .navigation a:focus{
  color: #3B579D;
}


/* table of content */
.contentTable a{
  font-weight: normal;
  color: #1f1f1f;
}

.contentTable a:hover, .contentTable a:focus{
  font-weight: normal;
  color: #3B579D;
}

/* projects intro */

.blackarea {
  color: #fff;
  float: left;
  width: 100%;
  background: #1F1F1f;
}

.whitearea {
  color: #1F1F1f;
  float: left;
  width: 100%;
  background: #fff;
}


.styleguide p {
  color: #000;
  background: none;
  padding-top: 25px ;
  padding-bottom: 20px;
}

.styleguide h1, .styleguide h2, .styleguide h3, .styleguide h4, .styleguide h5{
  padding: 0px 100px 20px 100px;
}

.merriweather h3, .merriweather p{
  font-family: 'Merriweather', serif;
  padding-top: 0;
} 

.montserrat h3, .montserrat p{
  font-family: 'Montserrat', sans-serif;
  padding-top: 0;
} 


#font_section{
  padding-bottom:70px;
}

.colorContainer{
  padding: 20px 100px 50px 100px;
}

/* Styling for the color */
.box {
  display: inline-block;
  margin: 1em;
  width: 15em;
  height: 7em;
}

.palette-block section {
  background-color: white;
  margin-bottom: 1.5rem;
  padding-bottom: 0.25rem;
  overflow: hidden;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  border: none;
}

.palette-block section div.palette-button {
  border-radius: 0.25em 0.25em 0 0;
  min-height: 100px;
  text-align: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.4s ease-in-out; 
}

.palette-block section div.palette-button::after {
  content: "copy";
  position: absolute;
  font-size: 0.75em;
  color: white;
  background-color: rgba(30, 30, 30, 0.25);
  padding: 0.25rem 5%;
  width: 100%;
  left: 0;
  bottom: -50px;
  opacity: 0.1;
  margin: 0;
  transition: all 0.4s ease-in-out;
  font-weight: 400;
  letter-spacing: 0.0075em;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  letter-spacing: 0.25em; 
}

.palette-block.zeroclipboard-is-hover, .palette-block:hover {
  cursor: pointer; 
}

.palette-block.zeroclipboard-is-hover .palette-button:after, .palette-block:hover .palette-button:after {
  opacity: 1;
  bottom: 0; 
}

.palette-block.zeroclipboard-is-active .palette-button, .palette-block:active .palette-button {
  background-color: white !important; 

}

.palette-block.zeroclipboard-is-active .palette-button::after, .palette-block:active .palette-button::after {
  font-family: "FontAwesome";
  content: "ï€Œ";
  color: #66b6ab;
  background: #ecedf3; }

.palette-block small,
.palette-block span {
  display: block;
  margin: 0.5rem 0.5rem 0.25rem 0em;
  line-height: 0.8;
  color: #999999;
  font-weight: 400;
  letter-spacing: 0.0075em;
  -webkit-font-smoothing: antialiased; 
}

.palette-block small {
  font-size: 1rem; 
}


.palette-block small:nth-child(3) {
  color: #bbbcc7;
  letter-spacing: 0.05em;
  font-size: 0.75em;
  line-height: 0.67;
}

.palette-block span {
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 1rem;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0; 
}

.palette-block span::before {
  content: "#"; 
}

.palette-block.palette-orange div {
  background-color: #3B579D; 
}

.palette-block.palette-black div {
  background-color: #fff; 
  border: 1px solid black;
}

.palette-block.palette-light-grey div {
  background-color: #1F1F1f; 
}

.logotype{
  margin-left: 100px;
}



/* navigation */

.navigation {
  border-top: 10px solid;
  border-top-style: solid;
  border-color: #1F1F1F;
  padding: 50px 0px 50px 0px;
}

nav {
  width: 100%;
}

a {
  text-decoration: none;
  font-style: none;
}

nav img {
  float: right;
  width: 80px;
  padding-right: 90px;
  opacity: 0.6;
}



/*intro*/

.intro {
  padding: 50px 0px 100px 0px;
}

article h1 {
  padding: 100px 100px 0px 100px;
  font-size: 16pt;
  line-height: 26pt;
  font-weight: 300;
  font-family: 'Merriweather', serif;
  letter-spacing: 0.3px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  padding-bottom: 20px;
}

strong {
  font-weight: 600;
}

article h2 {
  font-size: 16pt;
  line-height: 26pt;
  font-weight: 300;
  font-family: 'Merriweather', serif;
  letter-spacing: 0.3px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 700;
  color: #3F3F3F;
  padding: 100px 100px 0px 100px;
}

article h3 {
  font-size: 11pt;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.4px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  color: #3F3F3F;
  background-color: #fff;
}

article h4 {
  font-size: 11pt;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.4px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  color: #7F7F7F;
  background-color: #fff;
  padding: 10px 0px 100px 100px;
  line-height: 14pt;
}

article h5 {
  font-size: 18pt;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.4px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 700;
  padding: 0px 0px 35px 100px;
  line-height: 26pt;
  width: 60%;
}




/* projects intro */

.projects h4 {
  color: #fff;
  background: none;
  padding: 0px 0px 75px 100px;
}

.projects p {
  color: #fff;
  background: none;
  padding-top: none;
  padding-bottom: 20px;
}

.projects a {
  color: #fff;
  float: left;
  width: 100%;
  background: #1F1F1f;
}

.project1 a, .project2 a, .project3 a, .project4 a {
  -o-transition: 300ms;
  -ms-transition: 300ms;
  -moz-transition: 300ms;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.project1 a:hover {
  color: #fff;
  background-color: #3B579D;
}
.project2 a:hover {
  background: #3B579D;
}
.project3 a:hover {
  background: #3B579D;
}
.project4 a:hover {
  background: #3B579D;
}


/* about me */

.about h1 {
  padding: 100px 0px 30px 100px;
}

.about img {
  padding: 0px;
  width: 100%;
  opacity: 0.8;
}


.passion{
  width: 10%;
  display: inline-block;
  /*float: left;*/
  padding: 20px 0px 150px 150px;
  text-align: center; 
}


/* each project page */

article p {
  font-size: 12pt;
  line-height: 22pt;
  font-weight: 400;
  font-family: 'Merriweather', serif;
  letter-spacing: 0.3px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  width: 60%;
  padding: 0px 0px 70px 100px;
  font-style: none;
}

.projects p {
  padding-top: 75px;
}

article img {
  width: 100%;
  padding: 0px;
  padding-bottom: 100px;
}

div {
  display: block;
}

.myVideo {
  padding: 0px 0px 100px 100px;
  width: 60%;
  height: auto;
}

.designshow {
  width: 100%;
  float: left;
}

.designshow .myVideo {
  padding: 0px 0px 100px 100px;
  width: 60%;
  float: left;
}

.designshow img {
  padding: 0px 0px 100px 100px;
  width: 60%;
  float: left;
}

.designshow p {
  padding: 0px 0px 0px 30px;
  width: 20%;
  float: left;
  font-size: 11pt;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.4px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  color: #5f5f5f;
  line-height: 18pt;
}

.expiipage h5 {
  color: #422CE1;
}

.ecspage h5 {
  color: #FF3636;
}

.facebookpage h5{
  color:#3B579D;
}

.helpsterpage h5{
  color:#1F8DB0;
}
/* divider */

.divider {
  background-color: #ddd;
  height: 1px;
  display: block;
  margin-left: 100px;
}
article ul {
  display: block;
  padding-bottom: 50px;
  clear: both;
}
article ul li h3 {
  float: left;
  margin: -7px 10px 0px 50px;
  background-color: #fff;
  padding-right: 10px;
  clear: both;
}

/* footer */

footer {
  width: 100%;
  float: left;
  font-style: none;
}
.ecs {
  background: #FF3636;
  padding: 75px 0px 75px 100px;
}
.expii {
  background: #1F1F1f;
  padding: 75px 0px 75px 100px;
}

.expii:hover{
  background: #3B579D;
    -o-transition: 300ms;
  -ms-transition: 300ms;
  -moz-transition: 300ms;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.helpster {
  background: #1F8DB0;
  padding: 75px 0px 75px 100px;
}
.home {
  background: #1f1f1f;
  padding: 75px 0px 75px 100px;
}

p a {
  font-weight: 700;
  font-style: none;
}

.about h4 {
  color: #9f9f9f;
  padding: 0px 0px 0px 100px;
}

.about li a:visited {
  color: #5f5f5f;
}
.about li a:hover {
  color: #3B579D;
}
.about li a:link {
  color: #5f5f5f;
}
p a:visited {
  color: #1f1f1f;
}
p a:hover {
  color: #3B579D;
}
p a:link {
  color: #1f1f1f;
}

.about li {
  font-size: 11pt;
  line-height: 21pt;
  font-weight: 300;
  font-family: 'Merriweather', serif;
  letter-spacing: 0.3px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #9f9f9f;
  width: 60%;
  padding: 0px 0px 0px 100px;
}

footer li {
  font-size: 11pt;
  line-height: 21pt;
  font-weight: 300;
  font-family: 'Merriweather', serif;
  letter-spacing: 0.3px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #9f9f9f;
  width: 60%;
}

footer h4 {
  font-size: 12pt;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.4px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  color: #fff;
}

footer p {
  font-size: 14pt;
  line-height: 24pt;
  font-weight: 300;
  font-family: 'Merriweather', serif;
  letter-spacing: 0.3px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #fff;
  padding-bottom: 48px;
  width: 60%;
}


/*tablet*/

@media screen and (max-width: 768px) {

  .watch_animation img{
    width: 30%;
    padding: 0px 0px 20px 50px;
  }

  .passion{
  display:inline-block;
  width: 20%;
  padding: 0px 0px 20px 50px;
  }


  nav img {
    padding: 0px 50px;
    width: 60px;
  }

  article h1 {
    padding: 100px 0px 0px 50px;
    width: 85%;
  }
  article h4 {
    padding: 10px 0px 100px 50px;
    width: 85%;
  }
  .projects h4 {
    padding: 0px 0px 40px 50px;
  }
  .projects p {
    padding-top: 50px;
  }

  /* projects page */
  h2 {
    padding: 100px 0px 0px 50px;
  }
  article p {
    padding: 25px 0px 25px 50px;
    width: 85%;
  }

  article h5 {
  padding: 0px 0px 0px 50px;
  width: 100%;
  }

  article img {
    padding: 25px 0px 25px 0px;
    width: 100%;
  }

  article h4 {
    padding-bottom: 50px;
  }

.project1 h4 {
  color: #3B579D;
}
.project2 h4 {
  color: #3B579D;
}
.project3 h4 {
  color: #3B579D;
}
.project4 h4 {
  color: #3B579D;
}

/* about me */

.about h1 {
  padding: 50px 0px 0px 50px;
}

.about img {
  padding: 0px;
  width: 100%;
  opacity: 0.8;
}

.about h4 {
  color: #9f9f9f;
  padding: 50px 0px 0px 50px;
}

.about ul {
  padding: 0px 0px 50px 0px;
}

.about li {
  font-size: 11pt;
  line-height: 21pt;
  font-weight: 300;
  font-family: 'Merriweather', serif;
  letter-spacing: 0.3px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #9f9f9f;
  width: 80%;
  padding: 0px 0px 0px 50px;
}

article h2 {
  padding: 100px 0px 0px 50px;
}

.designshow {
  width: 100%;
  float: left;
}

.designshow .myVideo {
  padding: 0px 0px 40px 48px;
  width: 85%;
}

.designshow img {
  padding: 0px 0px 40px 48px;
  width: 85%;
  float: none;
}

.designshow p {
  padding: 10px 0px 50px 50px;
  width: 85%;
  float: none;
}

article h5 {
  padding: 10px 0px 0px 50px;
  line-height: 26pt;
  width: 85%;
}

.back_button{
  padding: 10px 0px 0px 50px;
}

/* divider */
.divider {
  background-color: #ddd;
  padding: 0px;
  height: 1px;
  display: block;
  margin-left: 50px;
}
article ul {
  display: block;
  padding-bottom: 50px;
  padding-top: 100px;
}

article ul li h3 {
  float: left;
  margin: -7px 10px 0px 50px;
  background-color: #fff;
  padding-right: 10px;
}


/* footer */
.ecs {
  padding: 40px 0px 40px 50px;
}
.expii {
  padding: 40px 0px 40px 50px;
}
.helpster {
  padding: 40px 0px 40px 50px;
}
footer p {
  padding-bottom: 40px;
  width: 80%;
}

footer {
  padding-top: 50px;
}


.final {
  padding: 50px 0px 50px 50px;
}

footer li {
  width: 80%;
}

footer h4 {
  width: 80%;
}

footer p {
  padding-bottom: 30px;
  width: 80%;
}


@media only screen and (max-width: 480px) {
.navigation {
  padding: 25px 0px 20px 0px;
}

.watch_animation img{
  width: 30%;
  padding: 0px 0px 20px 50px;
}

.passion{
display:block;
width: 40%;
padding: 0px 0px 20px 100px;
}

nav img {
  float: right;
  width: 60px;
  padding-right: 20px;
}

.project1 h4 {
  color: #3B579D;
}
.project2 h4 {
  color: #3B579D;
}
.project3 h4 {
  color: #3B579D;
}
.project4 h4 {
  color: #3B579D;
}

  .intro {
    padding: 40px 0px 100px 0px;
  }
  article h1 {
    padding: 80px 0px 0px 20px;
    width: 90%;
  }
  article h4 {
    padding: 10px 0px 40px 20px;
    width: 90%;
    line-height: 15pt;
  }

  article h5 {
  padding: 20px 0px 20px 20px;
  line-height: 24pt;
  width: 90%;
  font-size:16pt; 
  }

  .projects h4 {
    padding: 0px 0px 15px 20px;
  }

  .back_button{
    padding: 10px 0px 15px 20px;
    font-size: 14px;
  }
  /* projects page */
  article h2 {
    padding: 100px 0px 0px 20px;
  }
  article p {
    padding: 10px 0px 30px 20px;
    width: 90%;
    font-size: 12pt;
    line-height: 24pt;
  }
  article .projects p {
    padding: none;
    padding: 25px 0px 40px 20px;
    width: 90%;
    font-size: 11pt;
    line-height: 18pt;
  }
  article img {
    padding: 25px 0px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .myVideo {
    padding: 0px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 70px;
  }

  .designshow img {
    width: 100%;
    padding: 0px;
  }

.designshow {
  width: 100%;
  float: left;
}

.designshow .myVideo {
  padding: 0px 0px 30px 0px;
  width: 100%;
}

.designshow p {
  padding: 10px 0px 40px 20px;
  width: 90%;
  float: none;
}
  /* divider */
  .divider {
    background-color: #ddd;
    height: 1px;
    display: block;
    margin-left: 20px;
  }
  article ul {
    display: block;
    padding: 25px 0px 25px 0px;
  }
  article ul li h3 {
    float: left;
    margin: -7px 10px 0px 20px;
    background-color: #fff;
    padding-right: 10px;
  }
  /* footer */

.ecs {
  padding: 30px 0px 30px 20px;
}
.expii {
  padding: 30px 0px 30px 20px;
}
.helpster {
  padding: 30px 0px 30px 20px;
}
.final {
  padding: 30px 0px 30px 20px;
}

.final h4 {
  color: #9f9f9f;
}

footer li {
  font-size: 11pt;
  line-height: 21pt;
  font-weight: 300;
  font-family: 'Merriweather', serif;
  letter-spacing: 0.3px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #9f9f9f;
  width: 60%;
}

footer h4 {
  font-size: 12pt;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.4px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  color: #fff;
}

footer p {
  width: 95%;
  padding: 0px;
}

  /* about me */
  .about h1 {
    padding: 20px 0px 10px 20px;
    font-size: 12pt;
  }
  .about p {
    width: 90%;
    padding: 0px 0px 0px 20px;
    font-size: 11pt;
    line-height: 21pt;
  }
  .about {
    padding-bottom: 0px;
  }

.about img {
  padding: 0px;
  width: 100%;
  opacity: 0.8;
}

.about h4 {
  color: #9f9f9f;
  padding: 50px 0px 0px 20px;
}

.about li {
  font-size: 11pt;
  line-height: 21pt;
  font-weight: 300;
  font-family: 'Merriweather', serif;
  letter-spacing: 0.3px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #9f9f9f;
  width: 80%;
  padding: 0px 0px 0px 20px;
}


article h4 a{
  color: #9f9f9f;
}

article h4 a:hover, article h4 a:focus{
  color: #3B579D;
}


/* =========================================================
 * Grid CSS
 * ========================================================= */

/*
  With this selector, we are specifying that all objects use
  the border-box model (not the content-box model)
*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/*
  Here we are using a 'fancy' css selector that is 
  specifying if the class of an item starts with
  'grid-col-', then we should apply the styling listed
*/
[class^='grid-col-'] {
  float: left;
  padding: 0; 
  
}


/*
  Here we are defining our default column widths with the intention
  of keeping it 'mobile first'
*/
.grid-col-1of10, .grid-col-2of10, .grid-col-3of10, 
.grid-col-4of10, .grid-col-5of10, .grid-col-6of10, 
.grid-col-7of10, .grid-col-8of10, .grid-col-9of10,
.grid-col-10of10 {
  width: 100%;
}

/* Grids for the review page */
.grid-25 {
  float: left;
  width: 50%;
  padding: 0em 1em 0em 1em;
}

.grid-25:first-child,
.grid-25:nth-child(3) {
  padding-left: 0;
}


/*
  Here we are clearing floated items to ensure that
  our 'grid' structure can have different rows
*/
.grid-row:after {
  content: "";
  display: block;
  clear: both;
}


/*
  Using further @media queries, we specify that at a width of
  less than 30em it should collapse the 2/10 columns into one stack

  Think of this as saying, when display width > 30em, apply this
*/
/*
  Here using @media queries, we are specifying when the display
  has a width less than 50em it should collapse the 5/10 columns 
  into one stack (hence width: 100%)

  Think of this as saying, when display width > 50em, apply this
*/
@media (min-width: 65em) {

  .grid-col-1of10{
    width: 10%;
  }

  .grid-col-2of10{
    width: 20%;
  }

  .grid-col-3of10 {
    width: 30%;
  }

  .grid-col-4of10 {
    width: 40%;
  }

  .grid-col-5of10 {
    width: 50%;
  }

  .grid-col-6of10 {
    width: 60%;
  }

  .grid-col-7of10 {
    width: 60%;
  }

  .grid-col-8of10 {
    width: 80%;
  }

  .grid-col-9of10 {
    width: 90%;
  }

  .grid-col-10of10 {
    width: 100%;
  }

  .grid-25 {
    width: 25%;
  }
} 
