/* back navigation button */
.back_button{
  color: grey;
  float: left;

  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.4px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  color: #7F7F7F;
  background-color: #fff;
  padding: 10px 0px 100px 100px;
  line-height: 14pt;
 }

.navigation a:hover, .navigation a:focus{
  color: #3B579D;
}


/* table of content */
.contentTable a{
  font-weight: normal;
  color: #1f1f1f;
}

.contentTable a:hover, .contentTable a:focus{
  font-weight: normal;
  color: #3B579D;
}

/* projects intro */

.blackarea {
  color: #fff;
  float: left;
  width: 100%;
  background: #1F1F1f;
}

.whitearea {
  color: #1F1F1f;
  float: left;
  width: 100%;
  background: #fff;
}


.styleguide p {
  color: #000;
  background: none;
  padding-top: 25px ;
  padding-bottom: 20px;
}

.styleguide h1, .styleguide h2, .styleguide h3, .styleguide h4, .styleguide h5{
  padding: 0px 100px 20px 100px;
}

.merriweather h3, .merriweather p{
  font-family: 'Merriweather', serif;
  padding-top: 0;
} 

.montserrat h3, .montserrat p{
  font-family: 'Montserrat', sans-serif;
  padding-top: 0;
} 


#font_section{
  padding-bottom:70px;
}

.colorContainer{
  padding: 20px 100px 50px 100px;
}

/* Styling for the color */
.box {
  display: inline-block;
  margin: 1em;
  width: 15em;
  height: 7em;
}

.palette-block section {
  background-color: white;
  margin-bottom: 1.5rem;
  padding-bottom: 0.25rem;
  overflow: hidden;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  border: none;
}

.palette-block section div.palette-button {
  border-radius: 0.25em 0.25em 0 0;
  min-height: 100px;
  text-align: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.4s ease-in-out; 
}

.palette-block section div.palette-button::after {
  content: "copy";
  position: absolute;
  font-size: 0.75em;
  color: white;
  background-color: rgba(30, 30, 30, 0.25);
  padding: 0.25rem 5%;
  width: 100%;
  left: 0;
  bottom: -50px;
  opacity: 0.1;
  margin: 0;
  transition: all 0.4s ease-in-out;
  font-weight: 400;
  letter-spacing: 0.0075em;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  letter-spacing: 0.25em; 
}

.palette-block.zeroclipboard-is-hover, .palette-block:hover {
  cursor: pointer; 
}

.palette-block.zeroclipboard-is-hover .palette-button:after, .palette-block:hover .palette-button:after {
  opacity: 1;
  bottom: 0; 
}

.palette-block.zeroclipboard-is-active .palette-button, .palette-block:active .palette-button {
  background-color: white !important; 

}

.palette-block.zeroclipboard-is-active .palette-button::after, .palette-block:active .palette-button::after {
  font-family: "FontAwesome";
  content: "";
  color: #66b6ab;
  background: #ecedf3; }

.palette-block small,
.palette-block span {
  display: block;
  margin: 0.5rem 0.5rem 0.25rem 0em;
  line-height: 0.8;
  color: #999999;
  font-weight: 400;
  letter-spacing: 0.0075em;
  -webkit-font-smoothing: antialiased; 
}

.palette-block small {
  font-size: 1rem; 
}


.palette-block small:nth-child(3) {
  color: #bbbcc7;
  letter-spacing: 0.05em;
  font-size: 0.75em;
  line-height: 0.67;
}

.palette-block span {
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 1rem;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0; 
}

.palette-block span::before {
  content: "#"; 
}

.palette-block.palette-orange div {
  background-color: #3B579D; 
}

.palette-block.palette-black div {
  background-color: #fff; 
  border: 1px solid black;
}

.palette-block.palette-light-grey div {
  background-color: #1F1F1f; 
}

.logotype{
  margin-left: 100px;
}



/* navigation */

.navigation {
  border-top: 10px solid;
  border-top-style: solid;
  border-color: #1F1F1F;
  padding: 50px 0px 50px 0px;
}

nav {
  width: 100%;
}

a {
  text-decoration: none;
  font-style: none;
}

nav img {
  float: right;
  width: 80px;
  padding-right: 90px;
  opacity: 0.6;
}



/*intro*/

.intro {
  padding: 50px 0px 100px 0px;
}

article h1 {
  padding: 100px 100px 0px 100px;
  font-size: 16pt;
  line-height: 26pt;
  font-weight: 300;
  font-family: 'Merriweather', serif;
  letter-spacing: 0.3px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  padding-bottom: 20px;
}

strong {
  font-weight: 600;
}

article h2 {
  font-size: 16pt;
  line-height: 26pt;
  font-weight: 300;
  font-family: 'Merriweather', serif;
  letter-spacing: 0.3px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 700;
  color: #3F3F3F;
  padding: 100px 100px 0px 100px;
}

article h3 {
  font-size: 11pt;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.4px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  color: #3F3F3F;
  background-color: #fff;
}

article h4 {
  font-size: 11pt;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.4px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  color: #7F7F7F;
  background-color: #fff;
  padding: 10px 0px 100px 100px;
  line-height: 14pt;
}

article h5 {
  font-size: 18pt;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.4px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 700;
  padding: 0px 0px 35px 100px;
  line-height: 26pt;
  width: 60%;
}




/* projects intro */

.projects h4 {
  color: #fff;
  background: none;
  padding: 0px 0px 75px 100px;
}

.projects p {
  color: #fff;
  background: none;
  padding-top: none;
  padding-bottom: 20px;
}

.projects a {
  color: #fff;
  float: left;
  width: 100%;
  background: #1F1F1f;
}

.project1 a, .project2 a, .project3 a, .project4 a {
  -o-transition: 300ms;
  -ms-transition: 300ms;
  -moz-transition: 300ms;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.project1 a:hover {
  color: #fff;
  background-color: #3B579D;
}
.project2 a:hover {
  background: #3B579D;
}
.project3 a:hover {
  background: #3B579D;
}
.project4 a:hover {
  background: #3B579D;
}




/* about me */

.about h1 {
  padding: 100px 0px 30px 100px;
}

.about img {
  padding: 0px;
  width: 100%;
  opacity: 0.8;
}


/* each project page */

article p {
  font-size: 12pt;
  line-height: 22pt;
  font-weight: 400;
  font-family: 'Merriweather', serif;
  letter-spacing: 0.3px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  width: 60%;
  padding: 0px 0px 100px 100px;
  font-style: none;
}

.projects p {
  padding-top: 75px;
}

article img {
  width: 100%;
  padding: 0px;
  padding-bottom: 100px;
}

div {
  display: block;
}

.myVideo {
  padding: 0px 0px 100px 100px;
  width: 60%;
  height: auto;
}

.designshow {
  width: 100%;
  float: left;
}

.designshow .myVideo {
  padding: 0px 0px 100px 100px;
  width: 60%;
  float: left;
}

.designshow img {
  padding: 0px 0px 100px 100px;
  width: 60%;
  float: left;
}

.designshow p {
  padding: 0px 0px 0px 30px;
  width: 20%;
  float: left;
  font-size: 11pt;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.4px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  color: #5f5f5f;
  line-height: 18pt;
}

.expiipage h5 {
  color: #422CE1;
}

.ecspage h5 {
  color: #FF3636;
}

.facebookpage h5{
  color:#3B579D;
}

.helpsterpage h5{
  color:#1F8DB0;
}
/* divider */

.divider {
  background-color: #ddd;
  height: 1px;
  display: block;
  margin-left: 100px;
}
article ul {
  display: block;
  padding-bottom: 100px;  
  clear: both;
}
article ul li h3 {
  float: left;
  margin: -7px 10px 0px 50px;
  background-color: #fff;
  padding-right: 10px;
  clear: both;
}

/* footer */

footer {
  width: 100%;
  float: left;
  font-style: none;
}
.ecs {
  background: #FF3636;
  padding: 75px 0px 75px 100px;
}
.expii {
  background: #1F1F1f;
  padding: 75px 0px 75px 100px;
}

.expii:hover{
  background: #3B579D;
}

.helpster {
  background: #1F8DB0;
  padding: 75px 0px 75px 100px;
}
.home {
  background: #1f1f1f;
  padding: 75px 0px 75px 100px;
}

p a {
  font-weight: 700;
  font-style: none;
}

.about h4 {
  color: #9f9f9f;
  padding: 0px 0px 0px 100px;
}

.about li a:visited {
  color: #5f5f5f;
}
.about li a:hover {
  color: #1f1f1f;
}
.about li a:link {
  color: #5f5f5f;
}
p a:visited {
  color: #1f1f1f;
}
p a:hover {
  color: #5f5f5f;
}
p a:link {
  color: #1f1f1f;
}

.about li {
  font-size: 11pt;
  line-height: 21pt;
  font-weight: 300;
  font-family: 'Merriweather', serif;
  letter-spacing: 0.3px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #9f9f9f;
  width: 60%;
  padding: 0px 0px 0px 100px;
}

footer li {
  font-size: 11pt;
  line-height: 21pt;
  font-weight: 300;
  font-family: 'Merriweather', serif;
  letter-spacing: 0.3px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #9f9f9f;
  width: 60%;
}

footer h4 {
  font-size: 12pt;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.4px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  color: #fff;
}

footer p {
  font-size: 14pt;
  line-height: 24pt;
  font-weight: 300;
  font-family: 'Merriweather', serif;
  letter-spacing: 0.3px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #fff;
  padding-bottom: 48px;
  width: 60%;
}


/*tablet*/

@media screen and (max-width: 768px) {


  nav img {
    padding: 0px 50px;
    width: 60px;
  }

  article h1 {
    padding: 100px 0px 0px 50px;
    width: 85%;
  }
  article h4 {
    padding: 10px 0px 100px 50px;
    width: 85%;
  }
  .projects h4 {
    padding: 0px 0px 40px 50px;
  }
  .projects p {
    padding-top: 50px;
  }

  /* projects page */
  h2 {
    padding: 100px 0px 0px 50px;
  }
  article p {
    padding: 25px 0px 25px 50px;
    width: 85%;
  }

  article h5 {
  padding: 0px 0px 0px 50px;
  width: 100%;
  }

  article img {
    padding: 25px 0px 25px 0px;
    width: 100%;
  }

  article h4 {
    padding-bottom: 50px;
  }

.project1 h4 {
  color: #3B579D;
}
.project2 h4 {
  color: #3B579D;
}
.project3 h4 {
  color: #3B579D;
}
.project4 h4 {
  color: #3B579D;
}

/* about me */

.about h1 {
  padding: 50px 0px 0px 50px;
}

.about img {
  padding: 0px;
  width: 100%;
  opacity: 0.8;
}

.about h4 {
  color: #9f9f9f;
  padding: 50px 0px 0px 50px;
}

.about ul {
  padding: 0px 0px 50px 0px;
}

.about li {
  font-size: 11pt;
  line-height: 21pt;
  font-weight: 300;
  font-family: 'Merriweather', serif;
  letter-spacing: 0.3px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #9f9f9f;
  width: 80%;
  padding: 0px 0px 0px 50px;
}

article h2 {
  padding: 100px 0px 0px 50px;
}

.designshow {
  width: 100%;
  float: left;
}

.designshow .myVideo {
  padding: 0px 0px 40px 48px;
  width: 85%;
}

.designshow img {
  padding: 0px 0px 40px 48px;
  width: 85%;
  float: none;
}

.designshow p {
  padding: 10px 0px 50px 50px;
  width: 85%;
  float: none;
}

article h5 {
  padding: 10px 0px 0px 50px;
  line-height: 26pt;
  width: 85%;
}

.back_button{
  padding: 10px 0px 0px 50px;
}

/* divider */
.divider {
  background-color: #ddd;
  padding: 0px;
  height: 1px;
  display: block;
  margin-left: 50px;
}
article ul {
  display: block;
  padding-bottom: 50px;
  padding-top: 100px;
}

article ul li h3 {
  float: left;
  margin: -7px 10px 0px 50px;
  background-color: #fff;
  padding-right: 10px;
}


/* footer */
.ecs {
  padding: 40px 0px 40px 50px;
}
.expii {
  padding: 40px 0px 40px 50px;
}
.helpster {
  padding: 40px 0px 40px 50px;
}
footer p {
  padding-bottom: 40px;
  width: 80%;
}

footer {
  padding-top: 50px;
}


.final {
  padding: 50px 0px 50px 50px;
}

footer li {
  width: 80%;
}

footer h4 {
  width: 80%;
}

footer p {
  padding-bottom: 30px;
  width: 80%;
}


@media only screen and (max-width: 480px) {
.navigation {
  padding: 25px 0px 20px 0px;
}

nav img {
  float: right;
  width: 60px;
  padding-right: 20px;
}

.project1 h4 {
  color: #3B579D;
}
.project2 h4 {
  color: #3B579D;
}
.project3 h4 {
  color: #3B579D;
}
.project4 h4 {
  color: #3B579D;
}

  .intro {
    padding: 40px 0px 100px 0px;
  }
  article h1 {
    padding: 80px 0px 0px 20px;
    width: 90%;
  }
  article h4 {
    padding: 10px 0px 40px 20px;
    width: 90%;
    line-height: 15pt;
  }

  article h5 {
  padding: 20px 0px 20px 20px;
  line-height: 24pt;
  width: 90%;
  font-size:16pt; 
  }

  .projects h4 {
    padding: 0px 0px 15px 20px;
  }

  .back_button{
    padding: 10px 0px 15px 20px;
    font-size: 14px;
  }
  /* projects page */
  article h2 {
    padding: 100px 0px 0px 20px;
  }
  article p {
    padding: 10px 0px 30px 20px;
    width: 90%;
    font-size: 12pt;
    line-height: 24pt;
  }
  article .projects p {
    padding: none;
    padding: 25px 0px 40px 20px;
    width: 90%;
    font-size: 11pt;
    line-height: 18pt;
  }
  article img {
    padding: 25px 0px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .myVideo {
    padding: 0px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 70px;
  }

  .designshow img {
    width: 100%;
    padding: 0px;
  }

.designshow {
  width: 100%;
  float: left;
}

.designshow .myVideo {
  padding: 0px 0px 30px 0px;
  width: 100%;
}

.designshow p {
  padding: 10px 0px 40px 20px;
  width: 90%;
  float: none;
}
  /* divider */
  .divider {
    background-color: #ddd;
    height: 1px;
    display: block;
    margin-left: 20px;
  }
  article ul {
    display: block;
    padding: 25px 0px 25px 0px;
  }
  article ul li h3 {
    float: left;
    margin: -7px 10px 0px 20px;
    background-color: #fff;
    padding-right: 10px;
  }
  /* footer */

.ecs {
  padding: 30px 0px 30px 20px;
}
.expii {
  padding: 30px 0px 30px 20px;
}
.helpster {
  padding: 30px 0px 30px 20px;
}
.final {
  padding: 30px 0px 30px 20px;
}

.final h4 {
  color: #9f9f9f;
}

footer li {
  font-size: 11pt;
  line-height: 21pt;
  font-weight: 300;
  font-family: 'Merriweather', serif;
  letter-spacing: 0.3px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #9f9f9f;
  width: 60%;
}

footer h4 {
  font-size: 12pt;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.4px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  color: #fff;
}

footer p {
  width: 95%;
  padding: 0px;
}

  /* about me */
  .about h1 {
    padding: 20px 0px 10px 20px;
    font-size: 12pt;
  }
  .about p {
    width: 90%;
    padding: 0px 0px 0px 20px;
    font-size: 11pt;
    line-height: 21pt;
  }
  .about {
    padding-bottom: 0px;
  }

.about img {
  padding: 0px;
  width: 100%;
  opacity: 0.8;
}

.about h4 {
  color: #9f9f9f;
  padding: 50px 0px 0px 20px;
}

.about li {
  font-size: 11pt;
  line-height: 21pt;
  font-weight: 300;
  font-family: 'Merriweather', serif;
  letter-spacing: 0.3px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #9f9f9f;
  width: 80%;
  padding: 0px 0px 0px 20px;
}



/* =========================================================
 * Video Player
 * ========================================================= */

#backLink span {
    position: absolute;
    left: 0;
    display: block;
    width: 2px;
    height: 10px;
    background: white;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    -webkit-transition: background 300ms ease;
    -moz-transition: background 300ms ease;
    -ms-transition: background 300ms ease;
    -o-transition: background 300ms ease;
    transition: background 300ms ease;
}

#backLink span:first-child {
    -webkit-transform:  rotate(45deg);
    -moz-transform:     rotate(45deg);
    -ms-transform:      rotate(45deg);
    -o-transform:       rotate(45deg);
    transform:          rotate(45deg);
    top: 40px;
    left: 33px;
}

#backLink span:last-child {
    -webkit-transform:  rotate(-45deg);
    -moz-transform:     rotate(-45deg);
    -ms-transform:      rotate(-45deg);
    -o-transform:       rotate(-45deg);
    transform:          rotate(-45deg);
    top: 46px;
    left: 33px;
}

#backLink:hover span { background: #eb2030; }
#backLink:hover a { color: #eb2030; }

#video-title {
    z-index: 999;
    position: fixed;
    color: white;
    opacity: 1;
    cursor: pointer;
    -webkit-transition: opacity 500ms ease;
    -moz-transition:    opacity 500ms ease;
    -ms-transition:     opacity 500ms ease;
    -o-transition:      opacity 500ms ease;
    transition:         opacity 500ms ease;
    left: 35px;
    bottom: 66px;
}

#video-title.not-clickable {
    cursor: default;
}

#video-title.not-clickable h2 {
    color: white !important;
}

#video-title h3 {
    font-family: Brandon;
    font-size: 10px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#video-title:hover { 
    color: #eb2030;
}

#video-title.hidden {
    opacity: 0;
}


.about-icon {
    position: relative;
    width: 20px;
    height: 30px;
    cursor: pointer;
    float: left;
    display: inline-block;
    margin-right: 20px;
}

    .about-icon span {
        position: absolute;
        top: 25%;
        left: 50%;
        display: block;
        width: 3px;
        height: 20px;
        background: white;
        -webkit-transform-origin:   center center;
        -moz-transform-origin:      center center;
        -ms-transform-origin:       center center;
        -o-transform-origin:        center center;
        transform-origin:           center center;
        -webkit-transition: background 500ms ease;
        -moz-transition:    background 500ms ease;
        -ms-transition:     background 500ms ease;
        -o-transition:      background 500ms ease;
        transition:         background 500ms ease;
    }

    #video-title:hover .about-icon span {
        background: #eb2030;
    }

            .about-icon span:first-child {
                -webkit-transform:  rotate(-45deg);
                -moz-transform:     rotate(-45deg);
                -ms-transform:      rotate(-45deg);
                -o-transform:       rotate(-45deg);
                transform:          rotate(-45deg);
                left: 70%;
            }

            .about-icon span:last-child {
                -webkit-transform:  rotate(45deg);
                -moz-transform:     rotate(45deg);
                -ms-transform:      rotate(45deg);
                -o-transform:       rotate(45deg);
                transform:          rotate(45deg);
                left: 10%;
            }

    #video-title.scrolled .about-icon span:first-child {
        background: #eb2030;
        left: 50%;
    -webkit-transition: all 100ms ease;
        -moz-transition:    all 100ms ease;
        -ms-transition:     all 100ms ease;
        -o-transition:      all 100ms ease;
        transition:         all 100ms ease;
    }

    #video-title.scrolled .about-icon span:last-child {
        background: #eb2030;
        left: 50%;
        -webkit-transition: all 100ms ease;
        -moz-transition:    all 100ms ease;
        -ms-transition:     all 100ms ease;
        -o-transition:      all 100ms ease;
        transition:         all 100ms ease;
    }

    #video-title.scrolled:hover .about-icon span:first-child {
        left: 10%;
    }

    #video-title.scrolled:hover .about-icon span:last-child {
        left: 70%;
    }

    .name { float: left; }

button {
    margin: 0;
    cursor: pointer;
}

#playPauseButtons {
    position: fixed;
    height: 50px;
    bottom: 60px;
    right: 18px;
    opacity: 1;
    z-index: 9999;
    -webkit-transition: all 500ms ease;
    -moz-transition:    all 500ms ease;
    -ms-transition:     all 500ms ease;
    -o-transition:      all 500ms ease;
    transition:         all 500ms ease;
}

#playPauseButtons.hidden {
    opacity: 0;
}

    #playPauseButtons button {
        outline: none;
        background: none;
        border: 0;
        color: white;
        background: rgba(0,0,0,0);
        -webkit-transition: all 200ms ease;
        -moz-transition:    all 200ms ease;
        -ms-transition:     all 200ms ease;
        -o-transition:      all 200ms ease;
        transition:         all 200ms ease;
    }

    #playPauseButtons button span {
        -webkit-transition: all 200ms ease;
        -moz-transition:    all 200ms ease;
        -ms-transition:     all 200ms ease;
        -o-transition:      all 200ms ease;
        transition:         all 200ms ease;
    }

button#playButton, button#pauseButton, #volumeOnBtn, #volumeOffBtn {
    height: 50px;
    width: 50px;
}

button#pauseButton span {
    height: 20px;
    width: 3px;
    top: 15px;
    background: white;
    position: absolute;
}

/* If the bio is on */

    #playPauseButtons.scrolled button#pauseButton span {
        background: #333;
    }


    button#pauseButton:hover span {
        background: #eb2030 !important;
    }

    button#pauseButton span:first-child {
        left: 18px;
    }

    button#pauseButton span:last-child {
        left: 29px;
    }

button#playButton span {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 17px solid white;
    margin: 0;
    padding: 0;
    border-right: 0;
    position: absolute;
    margin-left: -8px;
    margin-top: -10px;
}

/* If the bio is on */

    #playPauseButtons.scrolled button#playButton span {
        border-left: 17px solid #333;
    }

    button#playButton:hover span {
        border-left: 17px solid #eb2030 !important;
    }

button#volumeOffBtn, button#volumeOnBtn {
    background: url(../images/icons/sound-on.png) 50% 5px no-repeat;
    background-size: 50px;
    -webkit-transition: background-position 0ms;
    -moz-transition:    background-position 0ms;
    -ms-transition:     background-position 0ms;
    -o-transition:      background-position 0ms;
    transition:         background-position 0ms;
}

button#volumeOnBtn {
    background: url(../images/icons/sound-off.png) 50% 5px no-repeat;
    background-size: 50px;
}


/* If the bio is on */

    #playPauseButtons.scrolled button#volumeOffBtn, #playPauseButtons.scrolled button#volumeOnBtn {
        background-position: 50% -100px;
    }

button#volumeOffBtn:hover, button#volumeOnBtn:hover {
    background-position: 50% !important;
}

iframe {
    position: absolute;
}

#progressbar {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 5px;
    padding: 30px;
    width: 100%;
    cursor: pointer;
    z-index: 999999;
    -webkit-transition: all 500ms ease;
    -moz-transition:    all 500ms ease;
    -ms-transition:     all 500ms ease;
    -o-transition:      all 500ms ease;
    transition:         all 500ms ease;
}

#progressbar.shrunk {
    margin-bottom: -12px;
    opacity: 0;
}

#progressbarprogress {
    width: 0%;
    height: 5px;
    background: #FFF;
}

#progressbarprogress.dark {
    background: red;
}

dl.listeners {
    display: none;
}

#full {
    height: 100%;
    overflow: hidden;
}

#time {
    position: fixed;
    z-index: 99999999;
    bottom: 62px;
    right: 140px;
    width: 100px;
    text-align: center;
    pointer-events: none;
    color: white;
    right: 50%;
    margin-right: -50px;
    opacity: 1;
    -webkit-transition: opacity 500ms ease;
    -moz-transition:    opacity 500ms ease;
    -ms-transition:     opacity 500ms ease;
    -o-transition:      opacity 500ms ease;
    transition:         opacity 500ms ease;
}

#time.hidden {
    opacity: 0;
}

#time.scrolled {
    color: #333;
    right: 140px;
    margin: 0;
}

#time p {
    font-family: Brandon;
    letter-spacing: 2px;
    padding: 0px;
    font-size: 13px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: normal;
}

#overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(255,255,255,0);
    z-index: 9;
    -webkit-transition: background 250ms linear;
    -moz-transition:    background 250ms linear;
    -ms-transition:     background 250ms linear;
    -o-transition:      background 250ms linear;
    transition:         background 250ms linear;
}

    #overlay.dim {
        background: rgba(255,255,255,0.85);
        -webkit-transition: background 500ms ease-in;
        -moz-transition:    background 500ms ease-in;
        -ms-transition:     background 500ms ease-in;
        -o-transition:      background 500ms ease-in;
        transition:         background 500ms ease-in;
    }

    .video_container {
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        background: #333;
    }

.vjs-control-bar {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.player .controls {
    display: none !important;
}

dd {
    display: inline-block;
}

#playButton, #pauseButton, #volumeOnBtn, #volumeOffBtn {
    display: none;
}

#playButton, #pauseButton {
    position: absolute;
    right: 54px;
    bottom: 0px;
}

#volumeOffBtn, #volumeOnBtn {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

#playButton.show, #pauseButton.show, #volumeOnBtn.show, #volumeOffBtn.show {
    display: inline-block;
}

#close-button {
    position: fixed;
    right: 30px;
    font-size: 24px;
    top: 30px;
    color: white;
    padding: 10px 17px;
    text-decoration: none;
    z-index: 9999;
}

#video {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  opacity: 1;
  -webkit-transition: opacity 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: opacity 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: opacity 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); 
}

#video .inner {
    width: 110%;
    position: absolute;
    top: -75px;
    left: 50%;
    bottom: -75px;
    margin-left: -55%;
    text-align: center;
    background: #fafafa;
    z-index: 1; 
}

#video .back {
    display: none; 
}

#video iframe {
    width: 100%;
    height: 100%;
    left: 0;
    -webkit-transition: opacity 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition:    opacity 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:      opacity 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:         opacity 1s cubic-bezier(0.645, 0.045, 0.355, 1); 
}

#chapters {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 55px;
    width: 100%;
    cursor: pointer;
    padding: 0 30px;
    z-index: 9999999;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    pointer-events: none;
}

#chapters p {
    margin: 0;
    color: white;
    letter-spacing: 2px;
    font-size: 9px;
    text-transform: uppercase;
    pointer-events: all;
    opacity: 0.5;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    padding: 5px 0px;
    display: inline-block;
  width: 100%;
  text-overflow: ellipsis;  
    white-space: nowrap;
}

#chapters.shrunk {
    margin-bottom: -12px;
    opacity: 0;
}

.chapter {
    height: 100%;
    display: inline-block;
    margin: 0;
    float: left;
    padding-right: 4px;
}

.chapter:last-child { padding-right: 0; }

.chapter-highlight {
    width: 100%;
    height: 5px;
    bottom: 0;
    -webkit-transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    -ms-transition: all 100ms ease;
    -o-transition: all 100ms ease;
    transition: all 100ms ease;
    background: rgba(255,255,255,0.3);
}

#chapters.dark .chapter .chapter-highlight {
    background: rgba(0,0,0,0.3);
}

#chapters.dark p {
    color: black;
}

.chapter:hover .chapter-highlight {
    background: rgba(255,0,0,0.5);
}

.chapter:hover p {
    opacity: 1 !important;
}

#chapters.dark .chapter:hover .chapter-highlight {
    background: #eb2030;
}

#chapters.cultural-chapters p {
  opacity: 0;
}

    #chapter-single { width: 100%; }
    #chapter-1 { width: 20%; color: #eb2030; }
    #chapter-2 { width: 17%; }
    #chapter-3 { width: 20%; color: #00b4ad; }
    #chapter-4 { width: 22%; color: #eac432; }
    #chapter-5 { width: 21%; color: #E9712F; }

#helpmesee {
    pointer-events: none;
    width: 100%;
    height: 200px;
    position: absolute;
    z-index: 99;
    bottom: 0;
    opacity: 1;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.98) 98%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(98%,rgba(0,0,0,0.98)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.98) 98%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.98) 98%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.98) 98%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.98) 98%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

#helpmesee.hidden {
    opacity: 0;
}

#helpmesee.superHidden {
    opacity: 0 !important;
}

    #helpmeseeBio {
        background: #fafafa;
        border-top: 1px solid #ddd;
        bottom: 0;
        z-index: 99999;
        opacity: 0;
        -webkit-transition: all 250ms ease;
        -moz-transition: all 250ms ease;
        -ms-transition: all 250ms ease;
        -o-transition: all 250ms ease;
        transition: all 250ms ease;
        position: fixed;
        z-index: 99999;
        height: 55px;
        width: 100%;
    }

    #helpmeseeBio.show {
        opacity: 1;
    }

#playEndButtons {
    display: none;
}


/* =========================================================
 * Bio
 * ========================================================= */


#bio {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
    top: 0;
    pointer-events: none;
    display: none;
    display: inline-block;
}

    .bio-interview-wrapper {
        width: 100%;
        top: 100%;
        position: absolute;
        min-height: 100%;
    }

    .bio-interview-inner {
        pointer-events: all;
        width: 80%;
        max-width: 1420px;
        margin: 0 auto;
        position: relative;
        padding-bottom: 8%;
    }

p.credit {
    text-align: center;
    font-size: 11px;
    color: #333;
}

.bio-description h1 {
    margin-left: -10%;
    border-bottom: 4px solid;
    display: inline-table;
    letter-spacing: 0.2em;
}
